Lab 1/
Lab 2/
Lab 3/
Lab 4/
Lab 5/
Lab 6/
Lab 7/
Lab 8/ 
Lab 9/
Lab 10/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json   
yarn.lock            
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
dist/
build/
logs/
*.log
*.log.*
.DS_Store          
Thumbs.db            
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.dump
mongod.conf
*.swp
*~